
.div-login
{
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/images/login-background-image.jpg");
    background-size: cover;
  background-repeat: no-repeat;
background-position: center;
}

.login-form
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    color: white;
    border-radius: 10px;
   
}

  .form-control {
    border-radius: 15px;
  }

  .border-radius{
    border-radius: 15px;
  }